* {
  margin: 0;
}

html, body {
  height: 100%;
}

body{

  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  color: #2d3943;
}

.steve{
  width: 250px; height: 320px;
}


img{
  max-width: 100%;
  height: auto;
}

a{
  color: #546a7d;
}

a:hover {
  color: #2d3943;
}

.media-panel {
  border: 1px solid #999;
  border-radius: 10px;
  position: fixed;
  right: 50px;
  bottom: 30px;
  opacity: 0.3;
  padding: 15px;

}

.media-panel a {
  display: block;
  margin-top: 10px;
}

.media-panel:hover {
  opacity: 1;
}

header .navbar-brand{
  font-size: 36px;
  font-weight: bold;
  margin-left: 20px;
}

header .collapse {
  margin-right: 20px;
  font-size: 24px;
}

header .navbar-collapse{
  margin-left: 20px;
}
header .nav-item {
  margin-left: 50px;
}

header .nav-item a::after{
  content: '';
  display: block;
  width: 100%;
  background-color: #2d3943;
  height: 1px;
  transform: scale(0);
  transition: all .3s;
}

header .nav-item a:hover::after{
  transform: scale(1);
}

footer a{
  color: #fff;
  transition: all .3s;
}

.subcontent{
  margin: 0 auto;
  max-width: 1280px;
  margin-top: 10px;
}

.subcontent .title{
  font-size: 36px;
  font-weight: bold;
}

.shadow {
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.card-img-top{
  width:100%;
  height:auto;
}



.subcontent .sub-title {
  font-size: 24px;
  font-weight: normal;
}

.content{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container{
  flex-grow: 1;
  margin-top: 20px;
  margin-bottom: 10px;
}

footer{
  background-color: #2b87d3;
  padding: 30px 0;
  color: fff;

}

.card {
  margin: 20px 0px;
}

@media only screen and (max-width : 1200px) {
  .steve{
    width: 250px; height: 320px;
  }

  .card-text{

  }

  .card-title{

  }

  .card-header{

  }

  .text-muted{

  }
}

@media only screen and (max-width : 1199px) {
  .card-text{
    font-size: 24px;
  }

  .card-title{
    font-size: 28px;
  }

  .card-header{
    font-size: 18px;
  }

  .text-muted{
    font-size: 18px;
  }
}

@media only screen and (max-width : 992px) {

}

@media only screen and (max-width : 991px) {
  .card-text{

  }

  .card-title{

  }

  .card-header{

  }

  .text-muted{

  }

  .steve{
    width: 230px; height: 250px;
  }

}

@media only screen and (max-width : 768px) {
    .card-text{

  }

  .card-title{
    font-size: 32px;
  }

  .card-header{

  }

  .text-muted{

  }
}

@media only screen and (max-width : 767px) {
    .card-text{

  }

  .card-title{
    font-size: 32px;
  }

  .card-header{

  }

  .text-muted{

  }

}

@media only screen and (min-width : 480px) {
  .card-text{
    font-size: 36px;
  }

  .card-title{
    font-size: 42px;
  }

  .card-header{

  }

  .text-muted{
    font-size: 32px;
  }

  .container{

  }
}

/*
####################################################
M E D I A  Q U E R I E S
####################################################
width: 40rem; margin: 0 auto;
*/

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/

/*
Extra small devices (portrait phones, less than 544px)
No media query since this is the default in Bootstrap because it is "mobile first"
*/
/**
* The CSS shown here will not be introduced in the Quickstart guide, but
* shows how you can use CSS to style your Element's container.
*/
/**
* The CSS shown here will not be introduced in the Quickstart guide, but
* shows how you can use CSS to style your Element's container.
*/
/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */