<div class="row">
    <div class="col-lg-7 col-md-12 col-sm-16 col-xs-16 mx-auto">
        <div class="card mb-3 wow fadeIn">

                {% if post.preview %}<img src="{{ post.preview.url }}" class="card-img-top" alt="...">{% else %}{% endif %}

            <div class="card-header">
            {{ post.date_pub }}
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.body|truncatewords:15 }}</p>
            <a href="{{ post.get_absolute_url }}" id="new-board-btn" class="respbtn btn btn-primary">Read</a>
          </div>
          <div class="card-footer text-muted">
            Tags:
            {% for tag in post.tags.all %}
                <a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a>
            {% endfor %}
          </div>
        </div>
    </div>
</div>
