{% extends 'base.html' %}

{% block title %}
    Все заявки
{% endblock %}

{% block content %}
    <div class="container" style="">
        <h1 class="text-center">Заявки:</h1>
        {% for player in players_claims %}
            <div class="card" style="width: 36rem; margin: 0 auto; margin-bottom: 20px;">
              <div class="card-body">
                <h5 class="card-title">{{ player.name }}</h5>
                <p class="card-text">{{ player.description }}</p>
                <a href="" class="btn btn-primary">Подробнее</a>
              </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}