{% extends 'base.html' %}

{% block title %}
    Форма
{% endblock %}

{% block content %}
    <div class="container wow fadeIn">
        <form action="{% url 'form_url' %}" class="form" method="post">
            {% csrf_token %}

            {% for field in form %}
                <div class="form-group">
                    {% if field.errors %}
                        <div class="alert alert-danger">
                            {{ field.errors }}
                        </div>
                    {% endif %}

                    {{ field.label }}
                    {{ field }}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Оставить заявку.</button>
        </form>
    </div>
{% endblock %}